* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background-color: black;
}

nav {
    background-color: rgb(0, 0, 0);
    position: sticky;
    z-index: 3;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 2px solid green;
}

nav img {
    margin-left: 6vw;
    border: 2px solid green;
    padding: 2px;
    transition: 1s ease;
}

nav img:hover {
    background-color: gold;

}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 3vw;
}

.links h2 {
    margin-right: 3vw;
    padding: 7px;
    color: white;
    border: 2px solid green;
    border-radius: 25px;
    font-size: clamp(10px, 2.5vw, 25px);
    transition: 1s ease;
}

.links h2:hover {
    border-color: gold;
    color: gold;

}

.links a {
    text-decoration: none;
}

@media screen and (min-width: 480px) {
    .btn-group {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .links {
        display: none;
    }

    .dropdown-menu li {
        opacity: 0;
        animation: fade-in .5s ease-in-out forwards;
    }

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .dropdown-menu li:nth-child(1) {
        animation-delay: 0s;
    }

    .dropdown-menu li:nth-child(2) {
        animation-delay: 0.2s;
    }

    .dropdown-menu li:nth-child(3) {
        animation-delay: 0.4s;
    }

    .dropdown-menu li:nth-child(4) {
        animation-delay: 0.6s;
    }

}


.button-style {
    background: rgb(4, 84, 5);
    background: radial-gradient(circle, rgba(11, 112, 34, 0.965) 43%, rgba(226, 228, 196, 0.195) 84%);
    border-color: green;
    margin-right: 5vw;
    background-color: rgba(51, 143, 52, 0.142);
}

.dropdown-menu li a {
    font-weight: 500;
}



.jumbotron {
    background-image: url(../website-img/rainforest.jpg);
    filter: brightness(90%) hue-rotate(10deg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    animation: fadein 3s;
    height: 70vh;

}

@media screen and (min-width: 850px) {
    .jumbotron {
        background-attachment: fixed;
    }
}

@media screen and (max-height: 400px) {
    .jumbotron {
        height: 130vh;
    }
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.jumbotron h1 {
    text-align: center;
    color: white;
    font-size: clamp(40px, 7vw, 95px);
    text-shadow: 5px 5px black;
    margin: 0 auto;
    width: 80vw;
}



.shift {
    padding-top: 14vh;
}

.white {
    height: 80px;
}

.purple {
    background-image: url(../website-img/heading\ background.jpg);
    filter: brightness(90%) hue-rotate(10deg);
    background-size: contain;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 420px) {
    .purple {
        height: 130px;
    }
}



.purple h1 {
    color: white;
    text-align: center;
    font-size: clamp(50px, 8vw, 100px);
}


.projectsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
}

.carouselandtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carouselandtitle h1 {
    padding: 20px;
    font-weight: 700;
    color: rgb(179, 167, 167);
}



.caro {
    width: 500px;
    box-shadow: 8px 8px 15px rgb(4, 177, 25);
    background-color: green;
    opacity: .15;
    transition: opacity 2s ease-in, width .25s ease-out;
    
}

.carousel:hover {
    width: 520px;
    box-shadow: 8px 8px 15px silver;
}

.caro.fade-in {
    opacity: 1;
}

.carousel-item img {
    height: 350px;
    object-fit: cover;
}


.carousel-inner {
    height: auto;
}

.carousel-item {
    height: auto;
}



@media screen and (max-width: 500px) {
    .carousel {
        width: 100vw;
        box-shadow: none;
    }

    .carousel:hover {
        width: 100vw;
        box-shadow: none;
    }


    .carousel-item img {
        height: 35vh;
    }

    .about img {
        border-radius: none;
        border-color: black;
    }
}


.carousel-caption h5 {
    background: rgb(54, 186, 14);
    background: radial-gradient(circle, rgb(5, 119, 16) 47%, rgba(107, 107, 101, 0) 100%);
    transition: 1s ease;
    font-size: 25px;
}

.carousel-caption h5:hover {
    color: gold;
}


.carousel-indicators button {
    background-color: silver !important;
    height: 10px !important;
    border-radius: 50% !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(10deg);
}



.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 70px;
}

.about img {
    width: 350px;
    height: 370px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid darkgreen;
}

.about div h1 {
    width: clamp(300px, 40vw, 800px);
    font-size: clamp(20px, 2.5vw, 40px);
    color: rgb(179, 167, 167);
}

.about div {
    margin: auto 0;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#submit-button {
    background-color: rgb(5, 108, 31);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 1s ease;
}

#submit-button:hover {
    background-color: rgba(3, 55, 11, 0.571);
}

.container {
    border-radius: 20px;
    background-color: #211b1b;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 50px auto;
}

.container,
label {
    color: white;
}

footer {
    background-image: url(../website-img/heading\ background.jpg);
    filter: brightness(90%) hue-rotate(10deg);
    background-size: contain;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

footer img {
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

footer img:hover {
    width: 50px;
    height: 50px;
    transition: .2s ease-in;
}


.carousel-caption {
    display: none;
}